{{#if user}}
<div class="container-fluid">
    <div class="container my-5">
        <div class="row">
            <div class="col order-first">
                <div class="card" style="width: 18rem;">
                    <span class="border border-dark"><img class="card-img-top" src="/img/chester.jpg"
                            alt="Card image cap"></span>
                    <div class="card-body">
                        <h5 class="card-title">Chester</h5>
                        <p class="card-text">Boyero de 4 años, obediente, alegre y muy cariñoso.</p>
                    </div>
                    <div class="card-footer">
                        <a href="" class="card-link">Ver más...</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <span class="border border-dark"><img class="card-img-top" src="/img/chester.jpg"
                            alt="Card image cap"></span>
                    <div class="card-body">
                        <h5 class="card-title">Chester</h5>
                        <p class="card-text">Boyero de 4 años, obediente, alegre y muy cariñoso.</p>
                    </div>
                    <div class="card-footer">
                        <a href="" class="card-link">Ver más...</a>
                    </div>
                </div>
            </div>
            <div class="col order-last">
                <div class="card" style="width: 18rem;">
                    <span class="border border-dark"><img class="card-img-top" src="/img/chester.jpg"
                            alt="Card image cap"></span>
                    <div class="card-body">
                        <h5 class="card-title">Chester</h5>
                        <p class="card-text">Boyero de 4 años, obediente, alegre y muy cariñoso.</p>
                    </div>
                    <div class="card-footer">
                        <a href="" class="card-link">Ver más...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{else}}
Debe registrarse...
{{/if}}