{{#if user}}
<div class="container mt-5">
    <div class="card border-info my-auto">
        <div class="card card-head p-1 ">
            <h3>Nueva Publicación</h3>
        </div>
        <div class="card-body ">
            <form action="/perfil/publicar" method="POST" id="formPublicar">
                <div class="form-group">
                    <textarea name="descripcion" rows="4" class="form-control border-info" id="txtPublicar"
                        placeholder="Descripción" style="resize: none;" minlength="2" maxlength="255"
                        required></textarea>
                </div>
                <button class="text-right form-group btn btn-primary">
                    Publicar
                </button>
            </form>
        </div>
    </div>
</div>
{{else}}
Debe registrarse...
{{/if}}