{{#if user}}
<div class="container-fluid">
    <div class="row">
        <div class="col-4 col-sm-4">
            <div class="container p-4">
                <div class="card border-danger">
                    <div class="card-header font-weight-bold">¡Atención!</div>
                    <div class="card-body text-danger">
                        <h5 class="card-title">Tips para modificar tus datos</h5>
                        <ul>
                            <li class="card-text">El nuevo nombre debe tener mínimo 2 letras.</li>
                            <li class="card-text">La contraseña de mínimo 6 caracteres.</li>
                            <li class="card-text">La descripción de mínimo 1 caracter.</li>
                        </ul>
                    </div>
                </div>
                <div class="container p-4 text-center">
                    <img src="/img/user.png" class="imagen-fluid pb-4" alt="user">
                    <p class="font-weight-bold mx-auto">Nombre de Usuario: {{user.nombre}}</p>
                    <p class="font-weight-normal">Actividad desde: {{timeago user.fecha}}</p>
                </div>
            </div>
        </div>

        <div class="col-8 col-sm-8">
            <div class="container">
                <div class="card m-1 border border-info">
                    <div class="card-header">
                        <h3>Modificar Datos de Usuarios</h3>
                    </div>
                    <div class="card-body">
                        <form action="/perfil/configuracion" method="POST" name="formModificar"
                            class="needs-validation">
                            <div class="form-group">
                                <label for="idrut">Rut</label>
                                <input type="text" class="form-control" id="rut" aria-describedby="rutHelp"
                                    value={{rut}} name='rut' readonly>
                                <small id="rutHelp" class="form-text text-muted">Esta sección no se puede
                                    editar.</small>
                            </div>
                            <div class="form-group">
                                <label for="idNombre">Nombre</label>
                                <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Nuevo email</label>
                                <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                                    placeholder="Enter email" name="email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Nueva Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Password"
                                    name="newpassword" minlength="6">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Confirmar Nueva Password</label>
                                <input type="password" class="form-control" id="password2"
                                    placeholder="Confirm-Password" name="newpassword2" minlength="6">
                            </div>
                            <div class="form-group">
                                <label for="exampleBio">Bio</label>
                                <textarea name="descripcion" rows="4" class="form-control"
                                    placeholder="Información para compartir" id="descripcion"
                                    style="resize: none;"></textarea>
                            </div>
                            <button type="submit" class="btn btn-success my-4" id="btnModificar">Modificar
                                Datos</button>
                            <button type="submit" class="btn btn-danger my-4" id="btnCancelar">Cancelar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{else}}
Debe registrarse...
{{/if}}