{{#if user}}
<div class="container p-4">
    <div class="row">
        <div class="container">
            <div class="card">
                <div class="card card-head">
                    <h3>Editar Publicación</h3>
                </div>
                <div class="card-body">
                    <form action="/perfil/pedit/{{publicaciones.idPublicaciones}}" method="POST">
                        <div class="form-group">
                            <textarea name="descripcion" rows="4" class="form-control" placeholder="Descripción" style="resize: none;">{{publicaciones.descripcion}}</textarea>
                        </div>
                        <button class="text-right form-group btn btn-primary">
                            Editar
                        </button>
                    </form>
                </div>
                <div class="card-footer text-right form-group">
                    
                </div>
            </div>
        </div>
    </div>
</div>
{{else}}
Debe registrarse...
{{/if}}