{{#if user}}
{{#if findUsuario }}
<div class="container">
    <div class="row p-2">
        <div class="col-4 d-flex justify-content-center">
            <img src="/img/user.png" class="rounded" alt="...">
        </div>
        <div class="col-4 my-auto">
            <p class="font-weight-bold text-capitalize">Nombre de Usuario: {{findUsuario.name}}</p>
            <p class="font-weight-normal">Activ@ desde: {{timeago findUsuario.fechac}}</p>
        </div>
    </div>
</div>
{{else}}
usuarios no encontrado.
{{/if}}
{{else}}
Debe registrarse...
{{/if}}