<div class="container-fluid">
  <div class="row">
    <div class="col-8 col-sm-10">
      {{#if user}}
      <main role="main" class="text-center">
        <h1 class="cover-heading mt-2 ">All in Pets</h1>
        <p class="lead">{{user.nombre}}, gracias por ayudar a mejorar la calidad de vida de los animales callejeros</p>
        <img src="/img/perroPortada.jpg" class="img-fluid rounded" alt="Responsive image">
        <blockquote class="blockquote my-2">
          <p class="mb-0">"Hasta que no hayas amado a un animal, una parte de tu alma permanecerá dormida"</p>
          <footer class="blockquote-footer">Anatole France</footer>
        </blockquote>
      </main>
      {{else}}
      <main role="main" class="text-center">
        <h1 class="cover-heading mt-2 ">All in Pets</h1>
        <p class="lead">Ayuda a mejorar la calidad de vida de los animales callejeros</p>
        <img src="/img/perroPortada.jpg" class="img-fluid rounded" alt="Responsive image">
        <blockquote class="blockquote my-2">
          <p class="mb-0">"Hasta que no hayas amado a un animal, una parte de tu alma permanecerá dormida"</p>
          <footer class="blockquote-footer">Anatole France</footer>
        </blockquote>
      </main>
      {{/if}}
    </div>
    {{>publicidad}}
  </div>
</div>