<div class="container pt-4">
    <ul class="nav ">
        <li class="nav-item">
            <a href="/perfil/myfeed" class="nav-link active">Mis
                Publicaciones</a>
        </li>
        <li class="nav-item">
            <a href="/perfil/publicar" class="nav-link active">Publicar</a>
        </li>
        <li class="nav-item">
            <a href="/perfil/adopciones" class="nav-link active">Adopciones</a>
        </li>
    </ul>
</div>