<div class="container py-4">
    <div class="card">
        <div class="card-head">
            <a href="/perfil/myfeed" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Mis Publicaciones</a>
            <a href="/perfil/publicar" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Publicar</a>
            <a href="/perfil/adopciones" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Adopciones</a>
        </div>
    </div>
</div>