{{#if success}}
<div class="alert alert-success col-md-3 my-2 mx-auto" role="alert" id="success-alert">
  {{success}}
</div>
{{/if}}
{{#if message}}
<div class="alert alert-danger col-md-3 my-2 mx-auto" role="alert" id="message-alert">
  {{message}}
</div>
{{/if}}