<div class="col-4 col-sm-2">
    <div class="row mx-auto mt-3 mb-5">
        <img src="/img/masterdog.jpg" alt="masterdog" class="img-fluid">
    </div>
    <div class="row mx-auto mb-5">
        <img src="/img/dr.jpg" alt="dr.pet" class="img-fluid">
    </div>
    <div class="row mx-auto">
        <img src="/img/arca.png" alt="arca" class="img-fluid">
    </div>
</div>