.sidenav {
    height: 100vh;
    min-width: 100%;
    z-index: 0;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #46ffa3;
  }
  
  .sidenav a {
    padding: 10px 12px 6px 16px;
    text-decoration: none;
    color: #000000;
    display: block;
  }
  
  .sidenav a:hover {
    color: #0080ff;
  }
  
  .main {
    position: relative;
  }
  @media screen and (max-width: 540px) {
    .sidenav {
        position: relative;
        width: 100%;
        margin-top: 60px;
    }
    .sidenav a{
        display: inline;
    }
    .main{
        margin:0;
    }
  }